/* importing google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: fontAquatico;
  src: url("FONTS/aquatico/Aquatico-Regular.otf"),
    url("FONTS/webfont/Regular/aleo-regular-webfont.ttf");
}
 
@font-face {
  font-family: fontAleo;
  src: url("FONTS/webfont/Regular/aleo-regular-webfont.ttf");
}

@font-face {
  font-family: "FontAwesome";
  src: url("./fontawesome-webfont.eot");
  src: url("./fontawesome-webfont.eot?#iefix") format("embedded-opentype"),
    url("./fontawesome-webfont.woff") format("woff"),
    url("./fontawesome-webfont.ttf") format("truetype"),
    url("./fontawesome-webfont.svg#FontAwesome") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}

body {
  overflow: hidden; /* Hide scrollbars */
}

html {
  background-color: #252836;
}

::selection {
  color: rgb(76, 122, 148);
  background: url("/Q");
}

.info_box,
.quiz_box,
.result_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.start_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid #616a94;
  border-radius: 50px;
  padding: 15px 30px;
  text-decoration: none;
  color: #616a94;
  background-color: #161a31;
  transition: 0.3s;
  font-size: 1em;
  cursor: pointer;
  outline: none;
}

.start_btn :hover {
  color: white;
  background: linear-gradient(315deg, #ec9f05 0%, #ff4e00 74%);
}
.start_btn2 :hover {
  color: white;
  background: linear-gradient(315deg, #ec9f05 0%, #ff4e00 74%);
}
.start_btn3 :hover {
  color: white;
  background: linear-gradient(315deg, #ec9f05 0%, #ff4e00 74%);
}

.start_btn3 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid #616a94;
  border-radius: 50px;
  padding: 15px 30px;
  text-decoration: none;
  color: #616a94;
  background-color: #161a31;
  transition: 0.3s;
  font-size: 1em;
  cursor: pointer;
  outline: none;
}
.start_btn2 {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid #616a94;
  border-radius: 50px;
  padding: 15px 30px;
  text-decoration: none;
  color: #616a94;
  background-color: #161a31;
  transition: 0.3s;
  font-size: 1em;
  cursor: pointer;
  outline: none;
}

.category {
  font-family: fontAquatico;
}

.score {
  font-family: fontAquatico;
}

.textClassique {
  font-family: fontAleo;
}

.textSurligne {
  font-family: fontAquatico;
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult {
  opacity: 1;
  z-index: 5;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.start_btn button {
  font-size: 25px;
  font-weight: 500;
  padding: 15px 30px;
  outline: none;
  cursor: pointer;

  border: 1px solid #616a94;
  border-radius: 50px;
  padding: 15px 30px;
  text-decoration: none;
  color: #616a94;
  background-color: #161a31;
  transition: 0.3s;
  font-size: 1em;
  cursor: pointer;
  outline: none;
}
.start_btn2 button {
  font-size: 25px;
  font-weight: 500;
  padding: 15px 30px;
  outline: none;
  cursor: pointer;
  border: 1px solid #616a94;
  border-radius: 50px;
  padding: 15px 30px;
  text-decoration: none;
  color: #616a94;
  background-color: #161a31;
  transition: 0.3s;
  font-size: 1em;
  cursor: pointer;
  outline: none;
}
.start_btn3 button {
  font-size: 25px;
  font-weight: 500;
  padding: 15px 30px;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #616a94;
  border-radius: 50px;
  padding: 15px 30px;
  text-decoration: none;
  color: #616a94;
  background-color: #161a31;
  transition: 0.3s;
  font-size: 1em;
  cursor: pointer;
  outline: none;
}

.info_box {
  width: 540px;
  background: #fff;
  border-radius: 5px;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.info_box .info-title {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-radius: 5px 5px 0 0;
  font-size: 20px;
  font-weight: 600;
}

.info_box .info-list {
  padding: 15px 30px;
}

.info_box .info-list .info {
  margin: 5px 0;
  font-size: 17px;
}

.info_box .info-list .info span {
  font-weight: 600;
  color: #0f015f;
}
.info_box .buttons {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 30px;
  border-top: 1px solid lightgrey;
}

.info_box .buttons button {
  margin: 0 5px;
  height: 40px;
  width: 100px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 50px;
  border: 1px solid #161a31;
  transition: all 0.3s ease;
}

/* box quiz*/

.quiz_box {
  width: 550px;
  background: #fff;
  border-radius: 50px;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.quiz_box header {
  position: relative;
  z-index: 2;
  height: 70px;
  padding: 0 30px;
  background: #fff;
  border-radius: 25px 25px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.quiz_box header .title {
  font-size: 20px;
  font-weight: 600;
}

.quiz_box header .timer {
  color: #e04300;

  height: 45px;
  padding: 0 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 145px;
}

.quiz_box header .timer .time_left_txt {
  font-weight: 400;
  font-size: 17px;
  user-select: none;
}

.quiz_box header .timer .timer_sec {
  font-size: 18px;
  font-weight: 500;
  height: 30px;
  width: 45px;
  color: #fff;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
  background: #343a40;
  border: 1px solid #343a40;
  user-select: none;
}

.quiz_box header .time_line {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 3px;
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
}

section {
  padding: 25px 30px 20px 30px;
  background: #fff;
}

section .que_text {
  font-size: 180%;
  font-weight: 600;
}

section .option_list {
  padding: 20px 0px;
  display: block;
}

section .option_list .option {
  border: 1px solid #ff4e00;
  color: #a43303;
  border-radius: 50px;
  padding: 8px 15px;
  font-size: 17px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section .option_list .option:last-child {
  margin-bottom: 0px;
}

section .option_list .option:hover {
  color: #a43303;
  background: #edfd94;
  border: 1px solid #edfd94;
}

section .option_list .option.correct {
  color: #036119;
  background: #d4edda;
  border: 1px solid #c3e6cb;
}

section .option_list .option.incorrect {
  color: #69050f;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
}

section .option_list .option.disabled {
  pointer-events: none;
}

section .option_list .option .icon {
  width: 6%;
  /*
  border: 2px solid transparent;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  pointer-events: none;
  transition: all 0.3s ease;
  line-height: 24px;
  */
}
.option_list .option .icon.tick {
  content: url("images/tick.svg");
  border-color: rgb(0, 232, 255);
  color: linear-gradient(
    90deg,
    rgba(0, 232, 255, 1) 1%,
    rgba(11, 205, 4, 1) 55%,
    rgba(0, 170, 24, 1) 100%
  );
}

.option_list .option .icon.cross {
  content: url("images/cross.svg");
}

footer {
  height: 60px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid lightgrey;
}

footer .total_que span {
  display: flex;
  user-select: none;
}

footer .total_que span p {
  font-weight: 500;
  padding: 0 5px;
}

footer .total_que span p:first-child {
  padding-left: 0px;
}

footer button {
  height: 40px;
  padding: 0 13px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 50px;
  background: #ff6600;
  border: 1px solid #ffae00;
  line-height: 10px;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.95);
  transition: all 0.3s ease;
}

footer button:hover {
  background: #e4c127;
}

footer button.show {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.result_box {
  background: #fff;
  border-radius: 50px;
  display: flex;
  padding: 25px 30px;
  width: 550px;
  height: 450px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.result_box .icon {
  font-size: 100px;
  color: #a43303;
  margin-bottom: 10px;
  border-radius: 50px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgb(248, 223, 78)),
    to(rgb(255, 148, 8))
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.result_box .complete_text {
  font-size: 20px;
  font-weight: 500;
}

.result_box .score_text span {
  display: flex;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
}

.result_box .score_text span p {
  padding: 0 4px;
  font-weight: 600;
}

.result_box .buttons {
  display: flex;
  margin: 20px 0;
}

.result_box .buttons button {
  margin: 0 10px;
  height: 45px;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 50px;

  transition: all 0.3s ease;
}

.buttons button.restart {
  color: #fff;
  background: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
}

.buttons button.restart:hover {
  color: #fd5913;
  background: #fff;
  border: 2px solid #fd5913;
}

.buttons button.quit {
  color: #fd5913;
  background: #fff;
  border: 2px solid;
  border-color: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
}

.buttons button.quit:hover {
  color: #fff;
  background: linear-gradient(315deg, #ec9f05 0%, #ff4e00 74%);
}
@media only screen and (min-width: 650px) {
  svg circle {
    display: none;
  }
  .timer {
    display: block;
  }
}

@media only screen and (max-width: 650px) {
  #countdown {
    position: relative;
    margin: auto;
    margin-top: 100px;
    height: 40px;
    width: 40px;
    text-align: center;
  }

  #countdown-number {
    color: #fd5913;
    display: inline-block;
    line-height: 40px;
  }

  svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    transform: rotateY(-180deg) rotateZ(-90deg);
  }

  svg circle {
    stroke-dasharray: 113px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 2px;
    stroke: #fd5913;
    fill: none;
    animation: countdown 30s linear forwards;
  }

  @keyframes countdown {
    from {
      stroke-dashoffset: 0px;
    }
    to {
      stroke-dashoffset: 113px;
    }
  }

  .quiz_box header {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .result_box {
    width: 320px;
  }

  section .option_list .option .icon {
    width: 10%;
  }
  .quiz_box header .timer .timer_sec {
    width: 45px;
  }
  .quiz_box header .timer {
    width: 45px;
  }
  .quiz_box {
    width: 320px;
  }
  .info_box .buttons button {
    width: 70px;
  }
  .info_box .info-title {
    width: 50%;
  }
  .info_box {
    width: 320px;
  }

  footer .total_que {
    font-weight: 200;
    font-size: smaller;
    padding: 0 5px;
  }

  .next_btn {
    width: 50px;
    height: 20px;
    /* content: url(/Quiz-Projet-QuestionsOK/Projet-Quiz/images/right-arrow.svg); */
    margin: 1em;
    border: none;
    padding: 0.25em 3em 0.25em 1em;
    text-align: left;
    background: linear-gradient(
          -120deg,
          transparent 1em,
          #ff4e00 1.05em,
          #f18759 1.5em,
          transparent 1.45em,
          transparent 2em,
          #ff4e00 2.05em
        )
        top no-repeat,
      linear-gradient(
          300deg,
          transparent 1em,
          #f18759 1.05em,
          #f18759 1.5em,
          transparent 1.45em,
          transparent 2em,
          #f18759 2.05em
        )
        bottom no-repeat;
    background-size: 100% 50%;
    color: white;
  }

  .next_btn:hover {
    /* content: url(/Quiz-Projet-QuestionsOK/Projet-Quiz/images/right-arrow.svg); */
    margin: 1em;
    border: none;
    padding: 0.25em 3em 0.25em 1em;
    text-align: left;
    background: linear-gradient(
          -120deg,
          transparent 1em,
          #f18759 1.05em,
          #f18759 1.5em,
          transparent 1.45em,
          transparent 2em,
          #f18759 2.05em
        )
        top no-repeat,
      linear-gradient(
          300deg,
          transparent 1em,
          #ff4e00 1.05em,
          #ff4e00 1.5em,
          transparent 1.45em,
          transparent 2em,
          #ff4e00 2.05em
        )
        bottom no-repeat;
    background-size: 100% 50%;
    color: white;
  }

  .next_btn p {
    visibility: hidden;

    background-size: cover;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  footer {
    display: flex;
    flex-direction: column;
  }
}
